[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"

[packages]
django = "*"
celery = "*"
djangorestframework = "*"
six = "*"
coreapi = "*"
pyyaml = "*"
# djangorestframework-expiring-authtoken = "*"
django-cors-headers = "*"
django-jsonfield = "*"
drf-extensions = "*"
django-otp = "*"
requests = "*"
toml = "*"
aliyun-python-sdk-core = "*"
aliyun-python-sdk-core-v3 = "*"
redis = "*"
drf-spectacular = "*"
jwcrypto = "*"
twisted = "*"
ldaptor = "*"
oauthlib = "*"
oss2 = "*"

[requires]
python_version = "3.8"
