aliyunsdkcore==1.0.3
amqp==5.1.0
asgiref==3.5.0
astunparse==1.6.3
async-timeout==4.0.2
backports.zoneinfo==0.2.1
billiard==3.6.4.0
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
Django==4.0.4
django-ninja==0.17.0
ghp-import==2.0.2
idna==3.3
importlib-metadata==4.11.3
Jinja2==3.1.1
kombu==5.2.4
Markdown==3.3.6
MarkupSafe==2.1.1
mergedeep==1.3.4
mkdocs==1.3.0
mkdocs-autorefs==0.4.1
mkdocs-material==8.2.9
mkdocs-material-extensions==1.0.3
mkdocstrings==0.18.1
mkdocstrings-python-legacy==0.2.2
mysqlclient==2.1.0
oauth2-provider==0.0
packaging==21.3
prompt-toolkit==3.0.29
pycrypto==2.6.1
pydantic==1.9.0
Pygments==2.11.2
pymdown-extensions==9.3
pyparsing==3.0.8
python-dateutil==2.8.2
pytkdocs==0.16.1
pytz==2022.1
PyYAML==6.0
pyyaml-env-tag==0.1
redis==4.2.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.1.1
urllib3==1.26.9
vine==5.0.0
watchdog==2.1.7
wcwidth==0.2.5
wrapt==1.14.0
zipp==3.8.0
jwcrypto==1.0
oauthlib==3.2.0
