<div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">
    <style type="text/css" data-premailer="ignore">
    .qmbox .qmbox body {
    width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;
    }
    .qmbox .qmbox img {
    outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; max-width: 100%; float: left; clear: both; display: block;
    }
    .qmbox .qmbox body {
    color: #222; font-family: "Helvetica", "Arial", sans-serif; padding: 0; margin: 0; font-size: 16px;
    }
    
        @media all and (min-device-width: 681px) {
            .qmbox .qmbox .container {
                width: 680!important;
            }
        }
    </style>
    
    <table style="background: #fff; border-collapse: collapse; border-spacing: 0; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; height: 100%; margin: 0; padding: 0; width: 100%" bgcolor="#fff">
            <tbody><tr>
                <td align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; hyphens: auto; margin: 0; padding: 0; text-align: center; word-break: break-word">
                    <center>
                        <table style="border-collapse: collapse; border-spacing: 0; font-size: 16px; line-height: 1.5; margin: 0 auto; max-width: 680px; min-width: 300px; width: 95%">
                            <tbody><tr>
                                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; hyphens: auto; margin: 0; padding: 0; word-break: break-word">
                                    <table width="100%" style="border-collapse: collapse; border-spacing: 0; margin-top: 30px">
                                        <tbody><tr>
                                            <td width="110" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; hyphens: auto; margin: 0; padding: 0; vertical-align: bottom; word-break: break-word" valign="bottom">
                                                <a href="https://www.longguikeji.com" target="_blank" style="color: #2ba6cb; text-decoration: none"><h1 style="color: #004080">OneID-{{company}}</h1><h5>一账通是龙归科技开源的企业级单点登录解决方案，专为中国市场优化 </h5>
                                            </td>
                                        </tr>
                                    </tbody></table>
    
                                    <hr style="background: #ddd; border: none; color: #ddd; height: 1px; margin: 0 0 30px">
    
                                    <table width="100%" style="border-collapse: collapse; border-spacing: 0">
                                        <tbody><tr>
                                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; hyphens: auto; margin: 0; padding: 0; word-break: break-word">
                                                <div>
        <p style="color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; margin: 0 0 10px; padding: 0">您好！</p>
        <p style="color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; margin: 0 0 10px; padding: 0">
                {{content | safe}}
        </p>

        <p style="color: #999999; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; margin: 0 0 10px; padding: 0">如果您没有使用过OneID，请忽略此邮件。</p>
    </div>
    
                                            </td>
                                        </tr>
                                    </tbody></table>
    
                                    <hr style="background: #ddd; border: none; color: #ddd; height: 1px; margin: 20px 0">
    
                                    <table width="100%" style="border-collapse: collapse; border-spacing: 0">
                                        <tbody><tr>
                                            <td colspan="2" align="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; hyphens: auto; margin: 0; padding: 0; word-break: break-word">
                                                <p style="color: #999999; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; margin: 0 0 10px; padding: 0">
                                                    如有疑问请联系我们 ：<a href="https://www.longguikeji.com" target="_blank" style="color: #999999; text-decoration: underline" rel="noopener">北京龙归科技有限公司</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                    
                
            
        </tbody></table>
    
    
    </center>
    </td>
    </tr>
    </tbody></table><style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style></div>